// This file is automatically prepended to each scss module,
// this way you can always use the variables in any file


// Colors
$color-primary: #0070f3;
$color-black: black;
$color-white: white;
$color-green: #2db811;
$color-red: #ce2715;

$color-col: #f8f8f8;
$color-metaphor: #d88621;
$color-metonymy: #2697ba;

// Font sizes
$font-size-small: 14px;
$font-size-base: 16px;
$font-size-large: 20px;

// Columns
$col-xxs: 240px;
$col-xs: 320px;
$col-s: 460px;
$col-m: 640px;
$col-l: 800px;
$col-xl: 980px;
$col-max: 1200px;

$gutter: 10px;
