// This file is automatically prepended to each scss module,
// this way you can always use the variables in any file


// Colors
$color-primary: #0070f3;
$color-black: black;
$color-white: white;
$color-green: #33bb18;
$color-red: #da4333;

$color-col: #f2f2f2;
$color-separator: #dadada;
$color-metaphor: #e8e46a;
$color-metonymy: #69d6e9;

// Font sizes
$font-size-small: 14px;
$font-size-base: 16px;
$font-size-medium: 20px;
$font-size-large: 30px;

// Columns
$col-xxs: 240px;
$col-xs: 320px;
$col-s: 460px;
$col-m: 640px;
$col-l: 800px;
$col-xl: 980px;
$col-max: 1200px;

$gutter: 10px;
$gutter-big: 20px;
$trans-defaults: 0.3s ease-in;
