@import '../../static/scss/common/variables.scss';
@import '../../static/scss/common/keyframes.scss';

.kviz {
  display: grid;
  grid-gap: $gutter;
  font-size: $font-size-base;
  &__row {
    display: grid;
    grid-template-columns: 4fr 1fr 1fr;
    grid-gap: $gutter;
    border-bottom: 1px solid $color-separator;
    padding-bottom: $gutter;
  }
  &__col {
    &--example {
      padding: 0 $gutter 0 0;
      @media(max-width: $col-m) {
        grid-column: span 3;
        padding-bottom: 0 0 $gutter;
      }
    }
    &--outcome {
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }
  &__outcome {
    width: $gutter-big;
    height: $gutter-big;
    border-radius: 50%;
  }
  &__explanation {
    padding: $gutter / 2 0 0;
    font-size: $font-size-small;
    animation: scale-text $trans-defaults;
  }
  &__model {
    padding: $gutter / 2 0 0;
    animation: scale-text $trans-defaults;
    &__name {
      text-transform: uppercase;
    }
  }
  &__option {
    text-align: center;
    color: $color-white;
    background: $color-green;
    border-radius: 4px;
    border: none;
    padding: $gutter / 2 $gutter-big;
    position: relative;
    font-size: $font-size-base;
    &--selected {
      &:after {
        display: block;
        content: " ✓";
        position: absolute;
        top: 0;
        right: -$gutter;
        color: $color-green;
        font-size: $font-size-large;
        transform: scale(2);
      }
    }
    &--correct {
      background: none;
    }
    &--incorrect--fail {
      background: black;
      &:after {
        right: calc(50% - 10px);
        content: " ✕ ";
        color: $color-red;
        transform: scale(2);
      }
    }
    &--incorrect--success {
      opacity: 0;
    }
    &--unselected:hover {
      cursor: pointer;
    }
    &--success {
      border: 2px solid $color-green;
    }
    &--fail {
      border: 2px solid $color-red;
    }
    &--continue {
      cursor: pointer;
      padding: $gutter $gutter * 4;
    }
  }
  &__metaphor {
    background: $color-metaphor;
  }
  &__metonymy {
    background: $color-metonymy;
  }
  &__footer {
    display: flex;
    justify-content: center;
    margin-top: $gutter * 4;
  }
}
