@import '../../static/scss/common/variables.scss';
@import '../../static/scss/common/keyframes.scss';

.kviz {
  display: grid;
  grid-gap: $gutter;
  font-size: $font-size-base;
  overflow: auto;
  scroll-behavior: smooth;
  width: 100%;
  max-width: $col-xl;
  margin-top: $gutter-big;
  &:after {
    display: block;
    content: "";
    height: 7rem;
  }
  @media(min-width: $col-m) {
    font-size: $font-size-medium;
  }
  &__row {
    display: grid;
    grid-gap: $gutter;
    grid-template-columns: minmax(0, 1fr) 150px 150px;
    padding: $gutter;
    animation: scale-text $trans-defaults;
    transform-origin: top;
    border: 1px solid $color-col;
    &:last-of-type {
      background: $color-green;
    }
    @media(max-width: $col-m) {
      grid-template-columns: minmax(0, 1fr) auto auto;
    }
  }
  &__col {
    &--example {
      padding: 0 $gutter 0 0;
      @media(max-width: $col-m) {
        grid-column: span 3;
      }
    }
    &--outcome {
      display: flex;
      align-items: center;
      @media(min-width: $col-m) {
        justify-content: center;
      }
    }
  }
  &__outcome {
    width: $gutter-big;
    height: $gutter-big;
    border-radius: 50%;
  }
  &__explanation {
    padding: $gutter / 2 0 0;
    font-size: $font-size-small;
    animation: scale-text $trans-defaults;
    transform-origin: top;
  }
  &__model {
    padding: $gutter / 2 0 0;
    animation: scale-text $trans-defaults;
    &__name {
      text-transform: uppercase;
    }
  }
  &__option {
    background: $color-green;
    border-radius: 4px;
    border: 1px solid $color-black;
    padding: $gutter / 2 $gutter;
    position: relative;
    font-size: $font-size-base;
    &--selected {
      &:after {
        display: block;
        content: " ✓";
        position: absolute;
        top: 0;
        right: -$gutter;
        color: $color-green;
        font-size: $font-size-large;
        font-weight: bold;
        transform: scale(2);
        animation: scale-text $trans-defaults;
        text-shadow: -0.5px -0.5px 0px $color-black;
      }
    }
    &--correct {
      background: none;
    }
    &--incorrect--fail {
      background: black;
      &:after {
        right: calc(50% - 10px);
        content: " ✕ ";
        color: $color-red;
        transform: scale(2);
      }
    }
    &--incorrect--success {
      opacity: 0;
    }
    &--unselected:hover {
      cursor: pointer;
    }
    &--success {
      border: 2px solid $color-green;
    }
    &--fail {
      border: 2px solid $color-red;
    }
    &--continue {
      cursor: pointer;
      color: $color-white;
      padding: $gutter $gutter * 4;
    }
  }
  &__metaphor {
    background: $color-metaphor;
  }
  &__metonymy {
    background: $color-metonymy;
  }
  &__footer {
    display: flex;
    justify-content: center;
    margin-top: $gutter * 4;
  }
  &__bravo {
    font-size: $font-size-large * 2;
    position: fixed;
    animation: bravo 7s ease-in-out forwards;
    font-weight: bold;
  }
}
